Source: python-keen
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
Build-Depends:
 debhelper (>= 11),
 dh-python,
 python-all,
 python-nose,
 python-requests,
 python-responses,
 python-setuptools,
 python-six,
 python-unittest2,
 python3-all,
 python3-nose,
 python3-requests,
 python3-responses,
 python3-setuptools,
 python3-six,
 python3-unittest2,
Standards-Version: 4.1.5
Homepage: https://github.com/keenlabs/KeenClient-Python

Package: python-keen
Architecture: all
Depends:
 ${python:Depends},
 ${misc:Depends}
Description: Python client for Keen IO

Package: python3-keen
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends}
Description: Python 3 client for Keen IO
